@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-family: "Roboto", sans-serif;
}
/* Apply box-sizing: border-box globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}
@layer base {
  :root {
    --primary: #f7942a;
    --background: #171923;
    --white:#ffffff;
  }
}
.two-line-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
